body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Uniform spacing between form elements */
}

.file-upload,
.language-select {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="file"],
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 70%; /* Make file input and select box wider */
}

button {
    background-color: #5cb85c; /* Bootstrap's btn-success color */
    color: white;
    padding: 15px 30px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover,
button:focus {
    background-color: #4cae4c; /* Slightly darker shade for hover/focus */
}

#transcriptionResult {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fafafa;
    text-align: left;
}

/* Improved spinner styles */
#spinnerContainer {
    display: none; /* Hide spinner container by default */
    align-items: center;
    justify-content: center;
}

#loadingSpinner {
    display: block; /* Will ensure the spinner appears on a new line if not using flexbox on the form */
    margin: 10px auto; /* Centers the spinner horizontally in the container */
    width: 50px; /* Set the width of the spinner */
    height: 50px; /* Set the height of the spinner */
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    input[type="file"],
    select {
        width: auto; /* Full width on small screens */
    }
}

/* Accessible focus styles */
button:focus,
input[type="file"]:focus,
select:focus {
    outline: 2px solid #4a90e2;
    outline-offset: 2px;
}

/* Disabled button styles */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    /* Other styling as needed */
}
