<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundScribe - Easy Audio Transcription</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"> <!-- Add a favicon -->
</head>
<body>
    <div class="container">
        <h1>SoundScribe</h1>
        <p class="lead">The easiest way to convert speech to text.</p> <!-- Add a tagline -->
        <form id="uploadForm">
            <div class="file-upload">
                <label for="fileUpload">
                    Choose File
                    <input type="file" id="fileUpload" name="file" required>
                </label>
            </div>
            <div class="language-select">
                <label for="languageSelect">
                    Select Language
                    <select id="languageSelect" name="language">
                        {% for language, code in TO_LANGUAGE_CODE.items() %}
                            <option value="{{ language }}">{{ language.capitalize() }}</option>
                        {% endfor %}
                    </select>                                    
                </label>
            </div>
            <button type="submit">Transcribe</button>
        </form>
        <div id="transcriptionResult"></div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
